<ul id="main-menu-bar" class="menubar ui-layout-north">
  <li>
    <a href="#File">File</a>
    <ul>
      <li><a href="#NewFile" data-event="ClearWorkspace">New</a></li>
      <li><a href="#OpenFile" data-event="OpenFile">Open</a></li>
      <li><a href="#SaveFile" data-event="SaveFile">Save</a></li>
      <li><a href="#ExportCode" data-event="ExportCode">Export to code</a></li>
      <li><a href="#ExportImage" data-event="ExportImage" data-eventData="exported-image.png">Export image</a></li>
    </ul>
  </li>
  <li>
    <a href="#Edit">Edit</a>
    <ul>
      <!--<li><a href="#GroupSelectedNodes" data-event="GroupSelectedNodes">Group selected nodes</a></li>-->
      <li><a href="#RemoveSelectedNodes" data-event="RemoveSelectedNodes">Remove selected node(s)</a></li>
      <li><a href="#RebuildAllShaders" data-event="RebuildAllShaders">Rebuild all shaders</a></li>
    </ul>
  </li>
  <li>
    <a href="#View">View</a>
    <ul>
      <li><a href="#Attributes" data-event="ToggleAttributes">Attributes</a></li>
      <li><a href="#Library" data-event="ToggleLibrary">Library</a></li>
      <li><a href="#Timeline" data-event="ToggleTimeline">Timeline</a></li>
    </ul>
  </li>
  <li class="expanded">
    <a href="#examples">Examples</a>
    <ul>
      <li><a href="#example/rotating_cube1.json">Simple cube</a></li>
      <li><a href="#example/geometry_and_material1.json">Geometry & materials</a></li>
      <li><a href="#example/postprocessing1.json">Postprocessing</a></li>
      <li><a href="#example/particle1.json">Particles</a></li>
      <li><a href="#example/particle2.json">Sparks particle and Mouse</a></li>
      <li><a href="#example/spreads1.json">Spreads</a></li>
      <li><a href="#example/texture1.json">Texture</a></li>
      <li><a href="#example/text1.json">Text</a></li>
      <li><a href="#example/collada1.json">Collada model</a></li>
      <li><a href="#example/sound1.json">Sound input</a></li>
    </ul>
  </li>
  <li class="expanded">
    <a href="#about">About</a>
    <ul>
      <li><a href="https://github.com/idflood/ThreeNodes.js" target="_blank">Github page</a></li>
    </ul>
  </li>
</ul>
