<div id='container-wrapper' class="ui-layout-center">
  <div id='container'>
    <div id='graph'></div>
  </div>
  <div id="breadcrumb"></div>
</div>
<div id='sidebar' class="ui-layout-west">
  <ul class="ui-layout-north">
    <li><a href='#tab-new'>New</a></li>
    <li><a href='#tab-attribute'>Attributes</a></li>
    <li><a href='#tab-list'>List</a></li>
  </ul>
  <div class="container ui-layout-center">
    <div id='tab-attribute'></div>
    <div id='tab-new'>
      <input id='node_filter' name='search-node' placeholder='Search' type='input' />
    </div>
    <div id='tab-list'></div>
  </div>
</div>
<!--<div id="library" class="ui-layout-east"></div>-->
<div id="timeline" class="ui-layout-south"></div>
<input id='main_file_input_open' multiple='false' type='file' />
