Icon
Thumbs.db
.DS_Store
.monitor
.sass-cache/
.project
node_modules/
public/tmp/
output_static/
output_static/*
output_static/*/*
output_static/*/*/*
output_static/*/*/*/*
dist/
dist/*
dist/*/*
dist/*/*/*
dist/*/*/*/*
assets/styles/*
Gemfile.lock
