body header{top: 0; margin-top: 30px; position: relative;}
body ul{padding: 0; margin: 0 0 1.2em 0; letter-spacing: 0.2px; list-style: none;}
body li{margin: 0; padding: 0;}
.highlight{padding-bottom: 0.4em; font-size: 15px;}
#project-page-container{padding-top: 20px; border-top: 1px solid #555; width: 280px; margin: auto;text-align: center;}
.desc{opacity: 0.7; font-size: 10px; font-style: italic;}
