!!! 5
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title ThreeNodes.js::alpha
    %script{:charset => "utf-8", :src => "assets/js/libs/jquery-1.6.4.min.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/raphael-min.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/Three.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/RequestAnimationFrame.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/jquery.tmpl.min.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/knockout-1.2.1.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/koExternalTemplateEngine.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/signals.min.js"}
    %script{:charset => "utf-8", :src => "assets/js/libs/underscore-min.js"}
    %script{:charset => "utf-8", :src => "assets/js/app.js"}
    %script{:charset => "utf-8", :src => "http://localhost:8001/vogue-client.js"}
    
    -#%link{:href => "assets/js/libs/jquery-ui/css/ui-threenodes/jquery-ui-1.8.16.custom.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/screen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    
    %link{:href => "favicon2.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %body
    %header
      #logo<
        %h1< ThreeNodes.js::alpha
    #container-wrapper
      #container
        #graph
    #sidebar
      %ul
        %li
          %a{:href => "#tab-new"} New
        %li
          %a{:href => "#tab-attribute"} Attribute
        %li
          %a{:href => "#tab-system"} System
      #tab-attribute
        empty...
      #tab-new
        %input#node_filter{:type => "input", :placeholder => "Search"}
      #tab-system
        %ul
          %li
            %a.open_file{:href => "#"} Open File
          %li
            %a.save_file{:href => "#"} Save File
          %li
            %a.rebuild_shaders{:href => "#"} Rebuild shaders
    #sidebar-toggle
      
    %footer#footer
      ThreeNodes.js | idflood.com | 2011
    