!!! 5
html(lang='en', xml:lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(content='text/html;charset=UTF-8', http-equiv='content-type')
    title ThreeNodes.js::0.2.0
    script(data-main='scripts/code_export_example.js', src='scripts/libs/require/require.js')
    link(href='stylesheets/screen.css', media='all', rel='stylesheet', type='text/css')
    link(href='favicon2.ico', rel='shortcut icon', type='image/x-icon')
  body.hidden-timeline
    header
      #logo
        h1 ThreeNodes.js::0.2.0
    footer#footer
      ThreeNodes.js | idflood.com | 2011
