!!! 5
html(lang='en', xml:lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(content='text/html;charset=UTF-8', http-equiv='content-type')
    title ThreeNodes.js::tests
    script(data-main='scripts/boot_test2.js', src='scripts/libs/require/require.js')
    link(href='stylesheets/reset_test.css', media='all', rel='stylesheet', type='text/css')
    link(href='stylesheets/mocha.css', media='all', rel='stylesheet', type='text/css')
  body
    #mocha
    div(id='hidden_container', style='display:none;visibility:hidden;)
      #container-wrapper
        #container
          #graph

