#sidebar
  overflow: hidden
  .container
    overflow-y: auto
    overflow-x: hidden
    padding: 0

  h3
    color: #eee
    font-size: 10px
    margin-top: 20px
    margin-bottom: 5px
    margin-left: 10px
    font-weight: bold
    letter-spacing: 0
    text-transform: uppercase

  ul
    no-bullets()

  ul, li
    reset-box-model()

  > div
    padding-right: 20px
    margin-bottom: 40px

  #tab-new a
    padding: 3px 10px
    display: block

  .ui-tabs-nav
    margin: 0
    padding: 0
    padding-top: 5px
    display: block
    float: none
    background: #2a2a2a

    li
      display: inline
      float: left
      padding: 2px
      margin: 0
      background: #2a2a2a
      border-right: 1px solid #333
      border-top: 1px solid #3a3a3a
      a
        padding: .2em 5px
      &.ui-tabs-active
        background: #333
        a
          color: #eee
      &:first-child
        padding-left: 6px


#tab-new
  position: relative
  padding-top: 14px

  li
    border-top: 1px solid #444
    &:first-child
      border-top-color: #333

  a
    font-size: 10px
    letter-spacing: 1px
    &:hover
      background: #222

#tab-attribute
  padding: 5px
  h2
    margin: 0
    font-size: 14px
    font-weight: bold
    border-bottom: 1px solid #444
    padding-bottom: 3px
    color: #eee
  h3
    margin-left: 0
    margin-top: 5px
  .field-wrapper
    padding-bottom: 8px

#node_filter
  position: absolute
  left: 2px
  right: 4px
  top: 5px

  padding: 5px 10px
  background: #2a2a2a
  border-radius: 5px
  outline: 0

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
  cursor: text

.ui-tabs .ui-tabs-hide
  display: none !important

#sidebar li.ui-tabs-selected
  background: #eee
  a
    color: #333

.input-container
  position: relative
  overflow: visible
#sidebar input
  padding: 4px 7px
  width: 188px
  border: #333
  background: #2a2a2a
  box-shadow(#222, 0, 1px, 14px, false, inset)
  &:focus
    outline: 0
    border: #444
    box-shadow(#222, 0, 1px, 6px, false, inset)
    background: #222
  &:hover
    border: #3a3a3a

#sidebar .slider-container
  position: relative
  width: 202px
  .min, .max
    position: absolute
    top: 0
    font-size: 9px
  .min
    left: 0
  .max
    right: 0
  a.ui-slider-handle
    background: #fff
    padding: 0
    &:focus
      outline: 0
