/* line 7, ../sass/ie.sass */
body.bp {
  text-align: center;
}
/* line 44, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body.bp legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 48, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body.bp p code {
  *white-space: normal;
}
/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp .container {
  text-align: left;
}
/* line 62, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp sup {
  vertical-align: text-top;
}
/* line 64, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp sub {
  vertical-align: text-bottom;
}
/* line 66, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp hr {
  margin: -8px auto 11px;
}
/* line 68, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp img {
  -ms-interpolation-mode: bicubic;
}
/* line 70, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp fieldset {
  padding-top: 0;
}
/* line 72, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp legend {
  margin-top: -0.2em;
  margin-bottom: 1em;
  margin-left: -0.5em;
}
/* line 76, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp fieldset, body.bp #IE8#HACK {
  padding-top: 1.4em;
}
/* line 77, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp legend, body.bp #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 78, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp textarea {
  overflow: auto;
}
/* line 80, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp label {
  position: relative;
  top: -0.25em;
}
/* line 84, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 88, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.text:focus {
  border: 1px solid #666666;
}
/* line 90, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 94, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.title:focus {
  border: 1px solid #666666;
}
/* line 96, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 99, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 102, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.button {
  position: relative;
  top: 0.25em;
}
/* line 105, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp textarea {
  margin: 0.5em 0;
}
/* line 107, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp select {
  margin: 0.5em 0;
}
/* line 109, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.7/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp button {
  position: relative;
  top: 0.25em;
}
