@import 'nib'

@import 'global/base'

global-reset()
reset-html5()

body
  font-size: blueprint-font-size
  font-family: blueprint-font-family
  line-height: 1.4em


@import 'global/mixins'
@import 'global/typography'
@import 'global/form'

@import 'ui/menubar'
@import 'ui/scrollbars'
@import 'ui/slider'
@import 'ui/timeline'
@import 'ui/misc'
@import 'ui/tree'
@import 'ui/jquery-layout'
@import 'ui/colorpicker'

@import 'partials/layout'
@import 'partials/header-intro'
@import 'partials/sidebar'
@import 'partials/library'
@import 'partials/nodes'

body
  background: background_color


