/* line 1, ../../src/styles/tests.sass */
body.test-mode {
  padding: 0;
  margin: 0;
}
/* line 5, ../../src/styles/tests.sass */
body.test-mode #main-menu-bar, body.test-mode #timeline-container, body.test-mode #bottom-toolbox, body.test-mode #field-context-menu, body.test-mode #node-context-menu, body.test-mode #display-mode-switch {
  display: none;
  visibility: hidden;
}
