<ul id="main-menu-bar" class="menubar">
  <li>
    <a href="#File">File</a>
    <ul>
      <li><a href="#New_file">New</a></li>
      <li><a href="#Open_file">Open</a></li>
      <li><a href="#Save_file">Save</a></li>
      <li><a href="#Export_to_code">Export to code</a></li>
    </ul>
  </li>
  <li>
    <a href="#Edit">Edit</a>
    <ul>
      <li><a href="#Remove_nodes">Remove selected node(s)</a></li>
      <li><a href="#Rebuild_shaders">Rebuild all shaders</a></li>
    </ul>
  </li>
  <li class="expanded">
    <a href="#examples">Examples</a>
    <ul>
      <li><a href="#example/rotating_cube1.json">01. Simple cube</a></li>
      <li><a href="#example/geometry_and_material1.json">02. Geometry & materials</a></li>
      <li><a href="#example/postprocessing1.json">03. Postprocessing</a></li>
      <li><a href="#example/particle1.json">04. Particles</a></li>
      <li><a href="#example/spreads1.json">05. Spreads</a></li>
      <li><a href="#example/texture1.json">06. Texture</a></li>
      <li><a href="#example/sound1.json">07. Sound input</a></li>
    </ul>
  </li>
  <li class="expanded">
    <a href="#about">About</a>
    <ul>
      <li><a href="https://github.com/idflood/ThreeNodes.js" target="_blank">Github page</a></li>
    </ul>
  </li>
</ul>
