<div id='container-wrapper'>
  <div id='container'>
    <div id='graph'></div>
  </div>
</div>
<div id='sidebar'>
  <ul>
    <li><a href='#tab-new'>New</a></li>
    <li><a href='#tab-attribute'>Attribute</a></li>
    <li><a href='#tab-list'>List</a></li>
  </ul>
  <div id='tab-attribute'></div>
  <div id='tab-new'>
    <input id='node_filter' name='search-node' placeholder='Search' type='input' />
  </div>
  <div id='tab-list'></div>
</div>
<div id='sidebar-toggle'></div>
<input id='main_file_input_open' multiple='false' type='file' />