background_color = #333

node_color = #222
main_color = #ff7800

blueprint-font-size = 11px
blueprint-font-family = "Helvetica Neue", Arial, Helvetica, sans-serif
mono = "andale mono", "lucida console", monospace
