.hidden-element
  display: none

.visually-hidden
  position: absolute
  top: -9999px
  left: -9999px

.relative
  position: relative

.inline-float
  display: inline
  float: left

html, body
  height: 100%
  overflow: hidden

body
  @extend .relative
  background-color: $background_color
  overflow: hidden
  margin-top: 0

#main-menu-bar
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 999

#container, #sidebar
  position: absolute
  top: 0
  left: 0

#container
  transform-origin: 0 0
  -moz-transform-origin: 0 0
  -webkit-transform-origin: 0 0

#sidebar, #container-wrapper
  top: 25px

#container-wrapper, #sidebar, #sidebar-toggle
  display: none

#container-wrapper, #timeline-container, svg, div
  -moz-user-select: none
  -webkit-user-select: none

$c: $background_color - #050505
#container
  width: 4000px
  height: 4000px
  
  &.ui-state-active, &.ui-state-hover
    background: $c
    border: 0
    padding: 0

#container-wrapper
  @extend .relative
  width: 100%
  height: 1000px
  overflow: auto
  z-index: 1

#sidebar
  width: 220px
  background: $background_color
  +single-box-shadow(#222, -1px, 0, 10px)
  border-right: 1px solid #373737
  left: 0
  z-index: 10

#bottom-toolbox
  position: absolute
  bottom: -50px
  right: 20px
  width: 180px
  z-index: 10
#zoom-slider
  position: absolute
  right: 0
  bottom: 0
  width: 100px
  z-index: 10
#timeline-switcher
  font-size: 10px
  bottom: 0
  right: 120px
  text-align: right
  position: absolute
  width: 80px

#display-mode-switch
  position: absolute
  cursor: pointer
  top: 4px
  right: 6px
  z-index: 9997
  background: #000
  border-radius: 5px
  padding: 1px 9px
  font-size: 9px
  text-transform: uppercase
  letter-spacing: 1px
  &:hover
    background: #efefef
    color: #333

#footer
  display: none
  visibility: hidden

.player-mode
  #container-wrapper, #sidebar, #sidebar-toggle, #bottom-toolbox
    display: none !important
    visibility: hidden !important
  #webgl-window
    overflow: auto
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    text-align: center
    padding: 20px
    canvas
      cursor: auto
