$field-label-padding: 4px
$field-button-size: 4px

$c: 100
.connection
  stroke: rgb($c, $c, $c)
  stroke-width: 1

.node
  position: absolute
  background: $node_color
  padding: 4px
  +clearfix
  min-width: 80px
  +border-radius(8px)
  @extend .ratio-50-50
  
  &.ui-selecting
    background: $node_color - #050505
    border: 1px solid $node_color + #222
    
  &.ui-selected
    background: $node_color + #050505
    border: 1px solid $node_color + #333
  
  .options
    +clearfix
    width: 100%
    .warning
      padding-top: 7px
  
  .inner-field
    background: transparent
    cursor: pointer
    display: inline-block
  
    span
      display: inline-block
      width: $field-button-size
      height: $field-button-size
      background: #555
      +border-radius($field-button-size)
  
    &:hover
      color: #fff
      span
        background: #fff
  
  .field-possible-target .inner-field, .inner-field.ui-state-hover
    color: #aaa
    span
      background: #ccc
  
  .inner-field.ui-state-hover
    color: $main_color
    span
      background: $main_color
  
  .inputs, .outputs
    @extend .inline-float
    color: #777
    & > div
      height: 12px
  
  .inputs, .outputs, .center
    & > div
      display: inline-block
      width: 100%
      vertical-align: middle
  
  .inputs .inner-field span
    margin-right: $field-label-padding
  .outputs .inner-field span
    margin-left: $field-label-padding

//$animation_color: $main_color
$animation_color: #f00
.node-has-animation
  +box-shadow($animation_color 0 0 1px inset)

.has-animation
  color: $animation_color

// utility classes
.width-80
  width: 80px

.width-120
  width: 120px

.width-150
  width: 150px

.width-200
  width: 200px

.width-230
  width: 230px

.ratio-50-50
  .inputs
    width: 50%
  .outputs
    width: 50%

.ratio-80-20
  .inputs
    width: 80%
  .outputs
    width: 20%

.ratio-25-50-25
  .inputs, .outputs
    width: 25%
  .center
    @extend .inline-float
    width: 50%

.no-inputs
  .inputs
    display: none
    visibility: hidden
  .outputs
    width: 100%

// base
.node-Number
  @extend .width-150
  @extend .ratio-25-50-25

.node-String
  @extend .width-150
  @extend .ratio-25-50-25
  
.node-Vector2, .node-Vector3
  @extend .width-80

// utils
.node-Merge, .node-Get
  @extend .width-80

.node-Random, .node-Timer
  @extend .width-150
  @extend .ratio-25-50-25

.node-LFO
  @extend .width-200
  @extend .ratio-25-50-25

.node-Mp3Input
  @extend .width-200
  @extend .ratio-50-50

// three.js related nodes
.node-Camera, .node-PointLight, .node-SpotLight, .node-AmbientLight
  @extend .width-120
  @extend .ratio-80-20

.node-MeshLambertMaterial, .node-MeshBasicMaterial, .node-MeshPhongMaterial, .node-CubeGeometry, .node-ParticleBasicMaterial, .node-LineBasicMaterial
  @extend .width-200
  @extend .ratio-80-20

.node-Object3D, .node-Mesh, .node-Scene, .node-CylinderGeometry, .node-ParticleSystem, .node-Line, .node-TextGeometry, .node-ParticlePool
  @extend .width-200

// postprocessing
.node-BleachPass, .node-VignettePass
  @extend .width-120
  @extend .ratio-80-20

.node-FilmPass
  @extend .width-150
  @extend .ratio-80-20

// particle
.node-SparksMove
  @extend .width-80
  @extend .no-inputs

// special nodes
.node-WebGLRenderer
  @extend .width-120
  .inputs
    width: 100%
  .outputs
    display: none
    visibility: hidden

.node-Mouse
  @extend .width-80
  @extend .no-inputs

.node-Color
  @extend .width-80
  .inputs, .outputs
    width: 35%
  .center
    @extend .inline-float
    width: 30%
  $s: 17px
  .center .color_preview
    width: $s
    height: $s
    border: 1px solid #444
    margin-top: 6px
    margin-left: 2px